.navbar{
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #243238 !important;
}

.navbar-brand{
    color: #ff8a65 !important;
    font-weight: 600;
}

.nav-link{
    color: #dee2e6 !important;
    font-weight: 400;
    font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif !important;

}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: #90caf9;
}

.nav-link:hover {
    color: #2196f3 !important;
}

