.teamSection{
    margin-top: 54px;
    background-color: #ffff ;
    padding-bottom: 3rem;
    
}

#ourteam img{
    display: block;
    width: 300px;
    max-width: 80%;
    margin: 20px auto;
}

.imageContainer{
    display: flex;
    justify-content: center;
}



@media all and (min-width:762px)
{
    #ourteam img{
        
        margin: 20px ;
    }
}