.techSection{
    
    margin-top: 80px;
    background-color: #263238 ;
    padding-bottom: 5rem;
    padding-top: 5rem;
}
.techicon {
    font-size: 5rem;
    padding: 10px;

    color: #808080;
}

.techtext {
    font-size: 1rem;
    color: #2196f3;
}

#techrow {
    line-height: 50px;
}

@media all and (min-width:768px) {
    #techrow {
        height: 80%;
    }
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}